<header class="satellite-profile__header u-text-center">
  <div class="satellite-profile__header--background" aria-hidden="true" style="background-image: url({{model.banner}})"></div>
  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="background-image: url({{model.logo}});" class="satellite-profile__header--logo">
  <h1 class="u-text-white u-text-bold u-text-capital">March for Science</h1>
  <h2 class="u-text-orange">{{model.displayName}}</h2>

  {{#if isAdmin}}
    {{#link-to 'satellite.admin' model.id  class="satellite-profile__header--button u-button--large"}}
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Edit
    {{/link-to}}
  {{else}}
    <button class="satellite-profile__header--button u-button--large">Subscribe</button>

    {{#if session.user.isSuper}}
      {{#link-to 'satellite.admin' model.id  class="u-button__tertiary satellite-profile__header--button"}}
        <i class="fa fa-pencil" aria-hidden="true" style="margin-left: 32px;"></i>
        Edit
      {{/link-to}}
    {{/if}}
  {{/if}}

</header>

<main class="u-grid-container">
  {{#ivy-tabs selection=selection as |tabs|}}
    {{#tabs.tablist as |tablist|}}
      <ul role="presentation">
        <li role="presentation">
          {{#tablist.tab "goals" on-select=(action (mut selection))}}
            {{scroll-to href='#about' label='About' offset=-64}}
          {{/tablist.tab}}
        </li>

        <li role="presentation">
          {{#tablist.tab "team" on-select=(action (mut selection))}}
            {{scroll-to href='#team' label='Team' offset=-64}}
          {{/tablist.tab}}
        </li>

        <li role="presentation">
          {{#tablist.tab "events" on-select=(action (mut selection))}}
            {{scroll-to href='#events' label='Programs' offset=-64}}
          {{/tablist.tab}}
        </li>

        <li role="presentation">
          {{#tablist.tab "blog" on-select=(action (mut selection))}}
            {{scroll-to href='#resources' label='Resources' offset=-64}}
          {{/tablist.tab}}
        </li>

        {{#if session.user.isAdmin}}
          <li role="presentation">
            {{#tablist.tab "admin" on-select=(action (mut selection))}}Admin{{/tablist.tab}}
          </li>
        {{/if}}
      </ul>
    {{/tabs.tablist}}

    <section class="satellite-profile__section" id="about">
      <div class="u-grid-16">
        <h3>Mission</h3>
        {{#quill-editor ops=mission seamless=true}}{{/quill-editor}}
      </div>

      <div class="u-grid-8 u-grid-last">
        <a href="{{donateLink}}" class="u-button--large u-button-block" target="_blank">Donate to this Satellite</a>
        <p class="u-text-center">or</p>
        <a href={{storeLink}} target="_blank">
          <img src={{transparent-pixel}}
               class="satellite-profile__store-image"
               alt="Purchase from the Satellite March Store"
               style="background-image: url({{storeImage}});position: relative;z-index: 2"
              >
        </a>
      </div>

    <div class="u-grid-12">
      <h3>Blog</h3>
      {{blog-widget}}
    </div>

    <div class="u-grid-12 u-grid-last">
      <h3>Twitter</h3>
      <a class="twitter-timeline" data-height="420" data-theme="light" href="https://twitter.com/TwitterDev">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    </section>

    <section class="satellite-profile__section--gray" id="team">
      <h3>Team</h3>
      <ul class="satellite-profile__section--team">
        {{#each model.admins as | admin |}}
            <li class="satellite-profile__team-member u-grid-6 u-grid-last">
              <img  src={{transparent-pixel}}
                    alt="{{admin.firstName}} {{admin.lastName}} Profile Image"
                    style="background-image: url({{admin.image}})">
              <h4>{{admin.firstName}} {{admin.lastName}}</h4>
              {{#if admin.adminroles.0.title}}<h5>{{admin.adminroles.0.title}}</h5>{{/if}}
              <p>{{admin.bio}}</p>
            </li>
        {{else}}
          <li class="satellite-profile__team-member--empty u-grid-block u-grid-last u-text-center">
            <h4>No team members yet</h4>
            <a href="mailto:march@marchforscience.com">Run this Satellite? Click here to claim this page</a>
          </li>
        {{/each}}
      </ul>
    </section>

    <section class="satellite-profile__section" id="events">
      <h3>Programs</h3>

    </section>

    <section class="satellite-profile__section" id="resources">
      <h3>Local Resources</h3>
    </section>

  {{/ivy-tabs}}

</main>
