<div class="home-page">

  <header class="jumbotron">
    <div class="textContainer u-text-center">
      <span class="jumbotron-textContainer-date">On April 22, 2017</span>
      <h1 class="u-text-orange u-text-bold u-text-center">We marched.</h1>
      <h2>Now, we act.</h2>
      <span class="jumbotron-textContainer-tag">
        <span class="u-text-bold">Week of action ∙</span>
        <span class="u-text-light">April 22-29, 2017</span>
      </span>
    </div>
  </header>

  <ul class="scienceCalendar">
    <li class="{{if (eq active 0) 'active'}}">
    <button href="" {{action 'clickTest' 0}}>
        <img src="images/button-inactive.svg"/>
        <div class="scienceCalendar-buttonText">
          <span class="u-text-white u-text-light scienceCalendar-dayTag">sunday</span>
          <span class="u-text-white scienceCalendar-scienceTag">science</span>
          <span class="flex-1 scienceCalendar-verbTag">engages</span>
        </div>
      </button>
    </li>
    <li class="{{if (eq active 1) 'active'}}">
      <button href="" {{action 'clickTest' 1}}>
        <img src="images/button-inactive.svg"/>
        <div class="scienceCalendar-buttonText">
            <span class="u-text-white u-text-light scienceCalendar-dayTag">monday</span>
            <span class="u-text-white scienceCalendar-scienceTag">science</span>
            <span class="flex-1 scienceCalendar-verbTag">discovers</span>
          </div>
      </button>
    </li>
    <li class="{{if (eq active 2) 'active'}}">
      <button href="" {{action 'clickTest' 2}}>
        <img src="images/button-inactive.svg"/>
        <div class="scienceCalendar-buttonText">
          <span class="u-text-white u-text-light scienceCalendar-dayTag">tuesday</span>
          <span class="u-text-white scienceCalendar-scienceTag">science</span>
          <span class="flex-1 scienceCalendar-verbTag">empowers</span>
        </div>
      </button>
    </li>
    <li class="{{if (eq active 3) 'active'}}">
      <button href="" {{action 'clickTest' 3}}>
        <img src="images/button-inactive.svg"/>
        <div class="scienceCalendar-buttonText">
          <span class="u-text-white u-text-light scienceCalendar-dayTag">wednesday</span>
          <span class="u-text-white scienceCalendar-scienceTag">science</span>
          <span class="flex-1 scienceCalendar-verbTag">creates</span>
        </div>
      </button>
    </li>
    <li class="{{if (eq active 4) 'active'}}">
      <button href="" {{action 'clickTest' 4}}>
        <img src="images/button-inactive.svg"/>
        <div class="scienceCalendar-buttonText">
          <span class="u-text-white u-text-light scienceCalendar-dayTag">thursday</span>
          <span class="u-text-white scienceCalendar-scienceTag">science</span>
          <span class="flex-1 scienceCalendar-verbTag">communicates</span>
        </div>
      </button>
    </li>
    <li class="{{if (eq active 5) 'active'}}">
      <button href="" {{action 'clickTest' 5}} disabled>
        <img src="images/button-inactive.svg"/>
        <div class="scienceCalendar-buttonText">
          <span class="u-text-white u-text-light scienceCalendar-dayTag">friday</span>
          <span class="u-text-white scienceCalendar-scienceTag">science</span>
          <span class="flex-1 scienceCalendar-verbTag">advocates</span>
        </div>
      </button>
    </li>
    <li class="{{if (eq active 6) 'active'}}">
      <button href="" {{action 'clickTest' 6}} disabled>
        <img src="images/button-inactive.svg"/>
        <div class="scienceCalendar-buttonText">
          <span class="u-text-white u-text-light scienceCalendar-dayTag">saturday</span>
          <span class="u-text-white scienceCalendar-scienceTag">science</span>
          <span class="flex-1 scienceCalendar-verbTag">connects</span>
        </div>
      </button>
    </li>
  </ul>

  <div class="home-page-callToAction">
    <header class="home-page-callToAction-header">
      <h1 class="u-grid-container">{{dayOfTheWeek}}</h1>
      <h2>SCIENCE {{dayData.verbOfTheDay}}</h2>
      <p class="QOD u-text-light">"{{dayData.quoteOfTheDay}}"</p>
    </header>
    <div class="" style="background-color: #00c9c4;overflow: hidden;">
      <div class="home-page-callToAction-body u-grid-container">
        {{#each dayData.CTAs as |CTA| }}
          <div class="home-page-callToAction-body-call {{CTA.className}}">
            <header>
              <img src={{CTA.image}}/>
              <h3>{{CTA.heading}}</h3>
            </header>
            <p>{{{CTA.body}}}</p>
            <div class="home-page-callToAction-body-call-buttons">
              {{#each CTA.buttons as |button| }}
                <a class="u-button" href={{button.href}} target="_blank">{{button.text}}</a>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <section class="home-page-megaphone u-grid-container">
    <img src="images/megaphone.svg"/>
    <div class="home-page-megaphone-triangle">
      <div class="home-page-megaphone-triangle-border grey"></div>
      <div class="home-page-megaphone-triangle-border white"></div>
    </div>
    <div class="home-page-megaphone-text">
      <h3>science<p>NOT</p>silence</h3>
      <p class="home-page-megaphone-text-body">
        <p>{{{dayData.megaphone.text}}}</p>
        <p class="home-page-megaphone-text-body-action u-text-bold">
          {{dayData.megaphone.hash}}
          <a class="u-button" href={{dayData.megaphone.button.href}} target="_blank">{{dayData.megaphone.button.text}}</a>
        </p>
      </p>
    </div>
  </section>

  <section class="socialMedia">
    <div class="socialMedia-squiggleContainer">
      <span style="flex:8"></span>
      <img src="images/squiggle.svg"/>
      <span style="flex:2"></span>
    </div>
    <header>
      <h1>{{dayData.megaphone.twitterHash}}</h1>
      <a class="u-button" href={{dayData.megaphone.twitterButton.href}} target="_blank">
        <span class="socialMedia-actionWhat">{{dayData.megaphone.twitterButton.text}}</span>
      </a>
    </header>

    <p class="socialMedia-longActionStory u-text-light u-text-gray5 u-grid-container">
      {{dayData.megaphone.twitterSplain}}
      <span class="u-text-bold">{{dayData.megaphone.twitterTag}}</span>
    </p>
    <ul class="socialMedia-links u-text-h1">
      <li>
        <a class="fa fa-twitter" href="https://www.twitter.com/scienceMarchDC" target="_blank"></a>
      </li>
      <li>
        <a class="fa fa-facebook-f" href="https://www.facebook.com/marchforscience" target="_blank"></a>
      </li>
      <li>
        <a class="fa fa-instagram" href="https://www.instagram.com/sciencemarchdc" target="_blank"></a>
      </li>
    </ul>
  </section>

  <section class="moreCallToAction">
    <header class="home-page-genericHeader u-text-center">
      <h1 class="u-grid-container u-text-h1 u-text-black">MORE WAYS TO GET INVOLVED</h1>
    </header>
    <ul class="u-grid-container">
      {{#each dayData.moreCTAs as |CTA|}}
        <li>
          <img src={{CTA.image}}/>
          <p class="u-text-bold">{{CTA.header}}
            <span class="u-text-light">{{CTA.group}}</span>
          <span class="u-text-normal moreCallToAction-bottomSpan">{{{CTA.bodyWithHTMLLinks}}}</span>
          </p>
        </li>
      {{/each}}
    </ul>
  </section>
</div>
