<div class="after-woa">

  <section class="signup-modal {{if showSubscribePopover 'visible'}}">
    <h3 class="u-text-orange u-text-center">Sign up for updates</h3>
    <h4 class="u-text-h5 u-text-center" style="margin-bottom: 16px;">{{model.displayName}}</h4>
    <button class="signup-modal__dismiss" {{action "toggleSubscribePopover"}}>Close</button>
    <form name="signup" class="bsd-signup" action="https://secure.marchforscience.com/page/s/rsvpembed" method="post" id="popup-signup-form">

      <fieldset style="display: none;">

       {{!-- <input id="popup-city" name="city" type="hidden" value={{model.city}}>
       <input id="popup-state_cd" name="state_cd" type="hidden" value={{model.state}}>
       <input id="popup-country" name="country" type="hidden" value={{model.country}}> --}}
       <input id="popup-best-contact-time" name="best-contact-time" value="" type="hidden">
       <input id="popup-_guid" name="_guid" type="hidden" value="">
       {{!-- <input name="redirect_url" type="hidden" value="{{currentUrl}}"> --}}

      </fieldset>

      {{float-input name="firstname" label="First Name" type="text" required="true" class="u-grid-12"}}
      {{float-input name="lastname" label="Last Name" type="text" required="true" class="u-grid-12 u-grid-last"}}
      {{float-input name="email" label="Email Address" type="email" required="true" class="u-grid-12"}}
      {{float-input name="phone" label="Phone Number (optional)" type="text" class="u-grid-12 u-grid-last"}}

      <input name="submit-btn" value="Register" type="submit" class="u-button--large u-grid-center">
    </form>
  </section>


  {{#simple-modal show=showSubscribeModal onDismiss=(action "toggleSubscribeModal")}}

    <h3 class="u-text-orange u-text-center">Sign up for updates</h3>
    <h4 class="u-text-h5 u-text-center" style="margin-bottom: 16px;">{{model.displayName}}</h4>
    <form name="signup" class="bsd-signup" action="https://secure.marchforscience.com/page/s/rsvpembed" method="post" id="popup-signup-form">

      <fieldset style="display: none;">

       {{!-- <input id="popup-city" name="city" type="hidden" value={{model.city}}>
       <input id="popup-state_cd" name="state_cd" type="hidden" value={{model.state}}>
       <input id="popup-country" name="country" type="hidden" value={{model.country}}> --}}
       <input id="popup-best-contact-time" name="best-contact-time" value="" type="hidden">
       <input id="popup-_guid" name="_guid" type="hidden" value="">
       {{!-- <input name="redirect_url" type="hidden" value="{{currentUrl}}"> --}}

      </fieldset>

      {{float-input name="firstname" label="First Name" type="text" required="true" class="u-grid-12"}}
      {{float-input name="lastname" label="Last Name" type="text" required="true" class="u-grid-12 u-grid-last"}}
      {{float-input name="email" label="Email Address" type="email" required="true" class="u-grid-12"}}
      {{float-input name="phone" label="Phone Number (optional)" type="text" class="u-grid-12 u-grid-last"}}

      <input name="submit-btn" value="Register" type="submit" class="u-button--large u-grid-center">
    </form>

  {{/simple-modal}}

  {{#slick-slider autoplay=true arrows=false}}
    <header class="jumbotron">
      <div class="textContainer u-text-center">
        <span class="jumbotron-textContainer-date">On April 22, 2017</span>
          <h1 class="u-text-orange u-text-bold u-text-center">We marched.</h1>
          <h2>Now, we act.</h2>
          <span class="jumbotron-textContainer-tag">
          <span class="u-text-bold weekOfActionLink">
            {{#link-to 'week-of-action'}}check out the week of action{{/link-to}}
          </span>
        </span>
      </div>
      <div class="u-grid-container u-text-center cta-container" style="margin: 18px auto">
        <button class="u-button--large" {{action "toggleSubscribeModal"}}>Join the Movement</button>
        <a class="u-button--large u-button--blue " href="https://www.marchforscience.com/donate" target="_blank" style="margin: 0 12px 12px;" {{action "clickTrack" "header-donate-cta" preventDefault=false}}>Donate</a>
      </div>
    </header>
    <!--<div class="box">-->
      <!--<div class="sliderBox">-->
        <!--<img src="/assets/images/march_for_science_banner.jpg">-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="box">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="sliderBox">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="/assets/images/march_for_science_banner.jpg">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="box">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="sliderBox">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="/assets/images/march_for_science_banner.jpg">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="box">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="sliderBox">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="/assets/images/march_for_science_banner.jpg">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  {{/slick-slider}}

  <section class="callToAction">

    <h3>#MarchforScience</h3>

    <section class="socialMedia">
      <ul class="socialMedia-links u-text-h1">
        <li>
          <a class="fa fa-twitter" href="https://www.twitter.com/scienceMarchDC" target="_blank" {{action 'clickTrack' 'social-media-twitter' preventDefault=false}}></a>
        </li>
        <li>
          <a class="fa fa-facebook-f" href="https://www.facebook.com/marchforscience" target="_blank" {{action 'clickTrack' 'social-media-facebook' preventDefault=false}}></a>
        </li>
        <li>
          <a class="fa fa-instagram" href="https://www.instagram.com/sciencemarchdc" target="_blank" {{action 'clickTrack' 'social-media-instagram' preventDefault=false}}></a>
        </li>
      </ul>
    </section>


    <section class="homepage__celebration">
      <p class="u-grid-container homepage__celebration--text">On April 22, 2017, in more than 600 cities around the world,
        <b>we marched as an unprecedented coalition of organizations and individuals.</b>
        We marched because science is critical to our health, economies, food security, and safety.
        We marched to defend the role of science in policy and society.</p>

      {{world-map satellites=satellites.list}}
    </section>

  </section>

  <section class="byTheNumbers">
    <h3 class="u-grid-container">by the numbers</h3>
    <ul class="u-grid-container">
      <li>
        <h4>300+</h4>
        <span>partners</span>
      </li>
      <li>
        <h4>600+</h4>
        <span>marches</span>
      </li>
      <li>
        <h4>300+</h4>
        <span>new voters</span>
      </li>
    </ul>
  </section>

  {{!-- <h2 class="vision__block-header vision__block-header--orange">What comes next?</h2> --}}
  <section class="callToAction">
    <p class="u-grid-container">We are science advocates and scientists who share an important goal:</p>

    <h1 style="font-size: 5.2rem; font-weight: bold;line-height: 4.8rem;text-align: center;">
      <span style="color: rgba(0,0,0,.55);letter-spacing: 1px;">CHAMPION</span>
      <span style="color: rgba(0,0,0,.35);letter-spacing: 1px;">SCIENCE</span><br>
      <span style="color: rgba(0,0,0,.55);font-weight: 200;">FOR THE COMMON GOOD</span>
    </h1>

    <p>Together we are building a powerful, international, interdisciplinary movement to:</p>
  </section>

  <section class="whatYouCanDo">
    <ul class="u-grid-container">
      <li>
        <div class="whatYouCanDo-imageContainer blue">
          <img src={{transparent-pixel}} style="background-image: url('images/moreCTA/utensils-01-inverse.svg');"/>
        </div>
        <h4>Strengthen the role of science in policymaking</h4>
      </li>
      <li>
        <div class="whatYouCanDo-imageContainer orange">
          <img src={{transparent-pixel}} style="background-image: url('images/moreCTA/peeps-inverse.svg');"/>
        </div>
        <h4>Improve science outreach and communication</h4>
      </li>
      <li>
        <div class="whatYouCanDo-imageContainer teal">
          <img src={{transparent-pixel}} style="background-image: url('images/moreCTA/owl-inverse.svg');"/>
        </div>
        <h4>Advance science education and scientific literacy</h4>
      </li>
      <li>
        <div class="whatYouCanDo-imageContainer green">
          <img src={{transparent-pixel}} style="background-image: url('images/moreCTA/atom-01-inverse.svg');"/>
        </div>
        <h4>Foster a diverse and inclusive scientific community</h4>
      </li>
    </ul>
  </section>

  <section class="callToAction u-grid-container">
    <p>In the coming weeks, we’ll continue to work with marchers, partner organizations,
      and satellite march organizers around the world as we plan the future of the March for Science movement.
    </p>
    <p style="padding-top: 0;"><b>The march is over, and the movement has begun. Science keeps marching forward, and so do we.</b></p>

  </section>

</div>
