<section class="u-grid-container">
  <h1>{{session.user.firstName}} {{session.user.lastName}}</h1>
  <button onClick={{route-action 'logout'}} class="u-button">Log Out</button>


  {{#ivy-tabs selection=selection as |tabs|}}
  {{#tabs.tablist as |tablist|}}
    <ul role="presentation">
      <li role="presentation">
        {{#tablist.tab "info" on-select=(action (mut selection))}}Info{{/tablist.tab}}
      </li>
      <li role="presentation">
        {{#tablist.tab "subs" on-select=(action (mut selection))}}Subscriptions{{/tablist.tab}}
      </li>
      {{#if session.user.isAdmin}}
        <li role="presentation">
          {{#tablist.tab "satellites" on-select=(action (mut selection))}}Satellites{{/tablist.tab}}
        </li>
      {{/if}}
    </ul>
  {{/tabs.tablist}}

  {{#tabs.tabpanel "info"}}
    <h2>Info</h2>
      {{float-input value=(mut session.user.firstName) label="First Name" class="u-grid-8"}}
      {{float-input value=(mut session.user.middleName) label="Middle Name" class="u-grid-8"}}
      {{float-input value=(mut session.user.lastName) label="Last Name" class="u-grid-8 u-grid-last"}}
      {{float-input value=(mut session.user.email) label="Email" class="u-grid-12"}}
      {{float-input value=(mut session.user.phone) label="Phone Number" class="u-grid-12 u-grid-last"}}

      <button onClick={{route-action 'saveUserInfo'}} class="u-button">Save</button>
  {{/tabs.tabpanel}}

  {{#tabs.tabpanel "subs"}}
    <h2>Subscriptions</h2>
  {{/tabs.tabpanel}}

  {{#tabs.tabpanel "satellites"}}
    <h2>Satellites</h2>
  {{/tabs.tabpanel}}
{{/ivy-tabs}}

</section>