<section id="user-profile__container" class="u-grid-container">

  {{#image-uploader onUpload=(route-action 'onProfileImageUpload') class="user-profile__image-upload" as | url |}}
    <img src={{transparent-pixel}} style="background-image: url({{session.user.image}})" class="user-profile__user-image">
  {{/image-uploader}}

  <h1 class="user-profile__user-name">{{session.user.firstName}} {{session.user.lastName}}</h1>
  <button onClick={{route-action 'logout'}} class="user-profile__log-out u-button__tertiary">Log Out</button>

  {{#ivy-tabs selection=selection as |tabs|}}
    {{#tabs.tablist as |tablist|}}
      <ul role="presentation">
        <li role="presentation">
          {{#tablist.tab "info" on-select=(action (mut selection))}}Info{{/tablist.tab}}
        </li>
        <li role="presentation">
          {{#tablist.tab "subs" on-select=(action (mut selection))}}Subscriptions{{/tablist.tab}}
        </li>
        <li role="presentation">
          {{#tablist.tab "satellites" on-select=(action (mut selection))}}Satellites{{/tablist.tab}}
        </li>
      </ul>
    {{/tabs.tablist}}

    {{#tabs.tabpanel "info"}}
      <section class="u-grid-24">

        <h2>Info</h2>
        {{float-input value=(mut session.user.firstName) label="First Name" class="u-grid-8"}}
        {{float-input value=(mut session.user.middleName) label="Middle Name" class="u-grid-8"}}
        {{float-input value=(mut session.user.lastName) label="Last Name" class="u-grid-8 u-grid-last"}}
        {{float-input value=(mut session.user.email) label="Email" class="u-grid-12"}}
        {{float-input value=(mut session.user.phone) label="Phone Number" class="u-grid-12 u-grid-last"}}
        {{textarea value=(mut session.user.bio) placeholder="Biography"}}
        <button onClick={{route-action 'saveUserInfo'}} class="u-button u-grid-6 u-grid-center">Save</button>
      </section>
      <hr>
      <section class="u-grid-24">
        <h2>Password</h2>
        <div class="u-grid-24">
          {{float-input value=(mut session.user.oldPass) type="password" label="Current Password" class="u-grid-8"}}
          {{float-input value=(mut session.user.newPass) type="password" label="New Password" class="u-grid-8"}}
        </div>
        <button onClick={{route-action 'updatePassword'}} class="u-button u-grid-6">Update</button>
      </section>

    {{/tabs.tabpanel}}

    {{#tabs.tabpanel "subs"}}
      <h2>Subscriptions</h2>
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel "satellites"}}
      <h2>Satellites</h2>
      <ul class="user-profile__satellite">
      {{#each session.user.satellites as | satellite |}}
        <li class="user-profile__satellite-list">
            {{#link-to 'satellite' satellite.id class="user-profile__satellite-link"}}
              <img src={{transparent-pixel}} style="background-image: url({{satellite.logo}});">
              <h3>{{satellite.city}}, {{satellite.state}}, {{satellite.country}}</h3>
            {{/link-to}}
        </li>
      {{/each}}
    </ul>

    {{/tabs.tabpanel}}
  {{/ivy-tabs}}

</section>